.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .filter-room {
    margin-bottom: 15px;
  }
  .list-room {
    flex: 1;
    overflow: auto;
  }
}

.inputDisabled:disabled,
.ant-input-number-input,
.ant-select-disabled.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-input-number-input-disabled,
.ant-picker.ant-picker-disabled,
.ant-picker-input > input[disabled] {
  background-color: white;
  color: rgba(82, 82, 82, 0.7);
}
