.list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .filter-room {
    margin-bottom: 15px;
  }
  .list-room {
    flex: 1;
    overflow: auto;
  }
}

.inputDisabled:disabled,
.ant-input-number-input,
.ant-select-disabled.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector,
.ant-input-number-input-disabled,
.ant-picker.ant-picker-disabled,
.ant-picker-input > input[disabled] {
  background-color: white;
  color: rgba(82, 82, 82, 0.7);
}

.ant-drawer-body {
  padding-bottom: 0 !important;
}

.ant-table-footer {
  padding-left: 0 !important;
}

.total-bill-footer {
  height: calc((100vh - 110px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .total-bill {
    padding-top: 7px;
    border-top: 1px solid #f0f0f0;
    height: 10%;
    .ant-input-number-disabled .ant-input-number-input {
      color: rgb(207, 19, 34);
      font-weight: bold;
    }
  }
  .service-table {
    height: 90%;
  }
}
