.status-line {
  font-weight: 600;
  .status {
    margin-left: 7px;
  }
  .room-type {
    margin-left: auto;
  }
}

.room-card {
  background-color: rgba(0, 21, 41, 0.09);
  transition: ease-in 0.09s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
  .room-number {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 5rem;
    letter-spacing: -1px;
    margin-top: 16px;
  }
}
